* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes animation {
  0% {
    left: 0%;
    transform: rotate(0deg);
  }
  25% {
    left: 50%;
    transform: rotate(90deg);
  }
  100% {
    left: calc(100% - 100px);
    transform: rotate(180deg);
  }
}

.box {
    position: absolute;
    left: 0;
    top: 50%;
    border: 1px solid grey;
    background-color: yellow;
    width: 100px;
    height: 100px;
    animation-name: animation;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  
